body {
    font-family: "Roboto Condensed";
    color: white;
    background-color: black;
}

/* Navbar */
nav.bg-dark {
    background-color: #000!important;
    border-bottom: white 3px solid;
}

/* Navbar Links */
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 0.6);
}

/* Section and header */
header {
    margin-top: 150px;
}

section {
    margin: 50px 0;

    /* Fixes anchor links leading to the wrong part */ 
    padding-top: 100px;
}

section div.container {
    text-align: center;
}

h1.display-4 {
    font-size: 4em;
}

div.d-flex {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
}
/* Footer Links styling */
footer a, p > a {
    color: white;
    border-bottom: 2px solid white;
}

footer a:hover, p > a:hover {
    color:black;
    background-color: white;
    transition: 0.2s;
    text-decoration: none;
}

/* Download Button */
a > img {
    width: 25px;
    filter: invert(100%);
    transition: 0.2s;
    margin-right: 10px;
}

a:hover > img {
    filter: invert(0);
}

section#download div.col-4 {
    margin-top: 1rem;
}

/* Sharp Buttons */
.btn-group-lg>.btn, .btn-lg {
    border-radius: 0;
    border-width: 3px;
    width: 100%;
}

.btn:focus {
    outline: none!important;
}

/* Navbar Expand Button */
button.navbar-toggler {
    outline: none;
}

/* Game Logo */
.GameLogoBig {
    width: 75%;
    height: 75%;
}

.GameLogoSmall {
    width: 75%;
    height: 75%;
}